@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "side.bar";
@import "main.chat";
@import "user";
@import "group";

.notifications {
  width: 100vw;
  color: white;
  background-color: #38aef0;
  font-size: 1rem;
  text-align: center;
}