.chat-side
  .side-header
    .side-header__box
      user name
    .side-header__box__menu
      = link_to "#", class: "side-header__box__menu__btn" do
        %i.fa.fa-edit
        %i.fa.fa-cog

  .groups
    .groups__group
      group name
    .groups__message
      last_message